// 自定义颜色方案
$body-background-color: #fafafa;      // 页面背景
$sidebar-color: #547597;             // 侧边栏背景
$border-color: #e0e0e0;

$body-text-color: #333;              // 正文文字颜色
$body-heading-color: #165db9;        // 标题颜色
$nav-child-link-color: #555;
$link-color: #4d698e;               // 链接颜色
$btn-primary-color: #3186f6;        // 按钮颜色